
@{
    ViewData["Title"] = "CreateAccount";
}
@using GARITS.Models

@model User


<!doctype html>
<html lang="en">

<body>
    <h2>Create Account</h2>

    <div>
        <form action="~/Admin/CreateAccount" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="firstname">First name</label>
                <input name="firstname" type="text" class="form-control" id="firstname" placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label for="lastname">Last name</label>
                <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" name="role" id="role">
                    <option>admin</option>
                    <option>foreperson</option>
                    <option>mechanic</option>
                    <option>franchisee</option>
                    <option>receptionist</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
        <div align="right">
            <a class="btn btn-primary" role="button" asp-action="Dashboard">Back</a>
        </div>
    </div>
</body>
</html>