
<div class="row">

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops</h4>
        <p>You do not have the permissions to view the page: @ViewData["Page"]</p>
        <hr>
        <p class="mb-0">Please return home or login to another user.</p>
    </div>

</div>