@{
    ViewData["Title"] = "Home Page";
}

@using GARITS.Models

@model User

@{
    var user = (User)ViewData["User"];
    ViewData["Name"] = user.firstname + " " + user.lastname;
}

<div class="row">

    <div class="col-md-6">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome back @user.firstname.</h1>
                <p class="lead">What would you like to do today?</p>
                <div style="display: inline-block">
                    <a class="btn btn-primary" href="~/Job/Book" role="button">Add New Job</a>
                    <a class="btn btn-primary" href="~/Job/ViewJobs?filter=UNPAID&start=@DateTime.Today.Add(new TimeSpan(-30, 0, 0, 0)).ToString("dd/MM/yyyy")&end=@DateTime.Today.ToString("dd/MM/yyyy")" role="button">Take Payment</a>
                    <a class="btn btn-primary" href="~/Job/ViewJobs?filter=ONGOING&start=@DateTime.Today.Add(new TimeSpan(-30, 0, 0, 0)).ToString("dd/MM/yyyy")&end=@DateTime.Today.ToString("dd/MM/yyyy")" role="button">View All Jobs</a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Registration Plate Search</div>
            <div class="card-body">
                <p class="card-text">Enter a registration plate here to get details of the: vehicle, customer, jobs and parts.</p>

                <form action="~/Admin/Car" method="post">
                    <div class="form-group">
                        <input name="vrm" tabindex="1" type="text" class="form-control" id="vrm" placeholder="Registration Plate">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">User</div>
            <div class="card-body">
                <p class="card-text">@user.firstname @user.lastname</p>
                <p class="card-text">@user.role</p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">Quick Links</div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="~/Job/ViewJobs?filter=ONGOING&start=@DateTime.Today.Add(new TimeSpan(-30, 0, 0, 0)).ToString("dd/MM/yyyy")&end=@DateTime.Today.ToString("dd/MM/yyyy")">Current Jobs</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="~/Job/ViewJobs?filter=UNPAID&start=@DateTime.Today.Add(new TimeSpan(-90, 0, 0, 0)).ToString("dd/MM/yyyy")&end=@DateTime.Today.ToString("dd/MM/yyyy")">Overdue Invoices</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="~/Job/GetMOTReminders">Get Vehicles Due MOT</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="~/Customer/ViewCustomers">View All Customer</a>
                </li>
            </ul>
        </div>
    </div>
</div>
